body{
    background-color: black;
}
.navbar-container{
    display: flex ;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
    overflow:auto;
    border: 2px solid;
    padding: 10px;
    margin-top: 2.5rem;
    box-shadow: 5px 5px #1a0000;
    
}
@media screen and (max-width :640px) {
    .navbar-container{
        flex-direction: column;
    }
    .navbar-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .image-container{
        flex-direction: column;
        /* width: 80vw; */
        /* width: 100%; */
    }
    .image-container>div{
        /* width: 100%; */
    }
    img{
        width: 100%;
    }
    
  
}
@media screen and (min-width:640px) {
    .image-container>div{
        height: 60vh ;
        width: 33.33vw;
        border: soldi 2px white;
    }
    
    img{
        height: 100%;
      width: 100%;
      border-radius: inherit;
     }
     
.image-container>div:hover{
    width: 60vw;
}
}


.login{
    margin-left: 1rem;
    display: inline;
    margin-right: 1rem;
    
}
.navbar-links>img{
    height: 1.5rem;
    width: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
    
}

.login-link{
    margin-right: 2rem;
}

.main-container{
    border: solid 2px white;
    width: 100%;
    /* border: solid ;
    border-radius: 20px; */
    background-color: white;
}
h3{
    margin-left: 2rem;
}
.inner-container{
    /* margin: 0rem 0rem; */
    border: solid 2px white;
    margin:2rem;

    font-size: x-large;
}
.image-container{
    /* border: solid 2px yellow; */
    /* height: ; */
    /* width: 80vw; */
    /* margin: 2rem 2rem; */
    display: flex;
     border: solid ;
    border-radius: 20px;
    
    

}
.navbar-container>img{
    height: 3rem;
    width: 3rem;
    align-items: center;
}
img{
    border-radius: inherit;
}

.navbar-links{
    display: flex;
    justify-content: space-evenly;
    
}
.navbar-links>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 2rem;

}
.login{
    display: flex;
    justify-items: center;
    align-items: center;
}

a>img{
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
}



.navbar-link>img{
    height: 1.5rem;
    width: 1.5rem;
}
.image-1{
    position: relative;
}
.image-1>p{
    position: absolute;
    top: 2px;
}
.image-2{
    position: relative;
}
.image-2>p{
    position: absolute;
    top: 2px;
}
.image-3{
    position: relative;
}
.image-3>p{
    position: absolute;
    top: 2px;
}